name: CI

on:
  pull_request:
    branches: [main]
    

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install deps
        run: |
          pip install -r requirements.txt
          pip install ruff mypy pytest

      - name: Ruff
        run: ruff check .

      - name: Mypy
        run: mypy src
        run: mypy tests

      - name: Pytest
        run: pytest